<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div>
  <hello1 [name]="wibu.name" *ngIf="wibu.age > 18; else under18"></hello1>
  <ng-template #under18><p>you are less 18 years</p></ng-template>
  <p>{{ task }}</p>
  <div>{{ wibu.name }}</div>
  <input type="text" [value]="wibu.name" (input)="onHandleChange($event)" />
  <input
    type="text"
    [(ngModel)]="wibu.name"
    (ngModelChange)="wibu.name = $event"
  />

  <input type="text" [(ngModel)]="task" (input)="onChange($event)" />
  <button (click)="setName()">set name</button>

  <div>
    <button (click)="onChangeAge($event, 1)">+</button>
    <span class="fs">age: {{ wibu.age }}</span>
    <button (click)="onChangeAge($event, -1)">-</button>
  </div>
  <ul>
    <ng-container *ngIf="users.length > 0; else noUser">
      <li
        *ngFor="
          let user of users;
          index as idx;
          first as isFirst;
          last as isLast;
          count as count;
          even as isEven;
          odd as isOdd
        "
      >
        {{ user.id }} - {{ user.name }} {{ idx }}
        <p *ngIf="isFirst">i am first</p>
        <p *ngIf="isLast">i am last</p>
        <p *ngIf="isOdd">i am odd</p>
        <p *ngIf="isEven">i am even</p>
      </li>
    </ng-container>
    <ng-template #noUser>
      <p #noUser>no user</p>
    </ng-template>
  </ul>
  <div>
    <button *ngFor="let tag of tags; last as isLast" [class.m-right]="!isLast">
      {{ tag }}
    </button>
  </div>
  <div
    class="box"
    [class]="{ 'red-bg': wibu.age > 17, 'blue-border': wibu.age >= 17 }"
  ></div>
  <p
    [class]="'test asa'"
    [style]="{ fontSize: '2em', color: 'var(--text-color)' }"
    [style.--text-color]="isDanger ? 'red' : 'yellow'"
  >
    Class & Style Binding
  </p>
  <button (click)="changeDanger()">Change danger</button>
</div>
<progress-bar
  [progress]="currentProgress"
  [bgColor]="'purple'"
  [progressColor]="'violet'"
></progress-bar>
<div>
  <app-tougle
    #tougleC
    [(checked)]="questions.question1"
    header="header 1"
    content="content 1"
    question="question 1"
  ></app-tougle>
  <app-tougle
    #tougleC
    [(checked)]="questions.question2"
    header="header 2"
    content="content 2"
    question="question 2"
  ></app-tougle>

  <button (click)="tougleC.toggle()">tougle</button>
</div>
<button (click)="currentProgress = currentProgress + 1">
  Increase progress
</button>
<authors></authors>
